.post-list {
    list-style-position: inside;
    padding: 0;
}

.post-list a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.post-list a + time {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

.post-list li + li {
    margin-top: 0.5rem;
}
