
<style>
.playlist-cover {
    width: 150px;
    margin: 2rem 0 1rem;
    aspect-ratio: 1;
    background: var(--color-shadow);
    border-radius: 2px;
    line-height: 0;
    font-size: 0;
}
.playlist-cover p {
    margin: 0;
}
.playlist-cover img {
    width: 100%;
    border-radius: 2px;
}
.ext-link {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-text) !important;
    opacity: 0.8;
    margin-left: 0.5rem;
}

.youtube-playlist {
    margin-top: 2rem;
}

.youtube-playlist button {
    appearance: none;
    padding: 0.5rem 0.3rem;
    color: var(--color-text);
    background: var(--color-background);
    cursor: pointer;
    width: 60px;
    font-size: 0.6rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-playlist button:active {
    border: 1px solid var(--color-gray);
}

.youtube-playlist button.toggled {
    border-bottom-color: var(--color-night-link-active);
}

.youtube-playlist button img {
    width: 9px;
    height: 9px;
    margin-left: 3px;
}

.mode--dark .youtube-playlist button img,
.mode--night .youtube-playlist button img,
.mode--tumblr .youtube-playlist button img {
    filter: invert(1);
}

.youtube-playlist .entry-link {
    color: var(--color-text);
    text-decoration: none;
}

.youtube-playlist .entry-link:hover,
.youtube-playlist .entry-link:active,
.youtube-playlist .entry-link:focus {
    text-decoration: underline dotted;
}

.youtube-playlist [data-current] .entry-link {
    font-weight: bold;
}

#playlist-player-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -100;
    opacity: 0.001;
}

#playlist-player {
    width: 60px;
    height: 60px;
}

.playlist--buttons {
    display: flex;
    flex-wrap: wrap;
}
</style>
<script>
document.addEventListener("DOMContentLoaded", () => {
if (document.querySelector('.youtube-playlist')) {
    let player = null;
    let initialVideoId = null;
    const playlist = createPlaylist(document.querySelector('.youtube-playlist'));

    function loadYoutubeAPI() {
        const tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        document.querySelector('head').append(tag);
    }

    window.onYouTubeIframeAPIReady = () => {
        console.log('onYouTubeIframeAPIReady');

        const _playerWrapper = document.createElement('div');
        _playerWrapper.setAttribute('id', 'playlist-player-wrapper');
        document.querySelector('body').append(_playerWrapper);

        const _player = document.createElement('div');
        _player.setAttribute('id', 'playlist-player');
        _playerWrapper.append(_player);

        player = new YT.Player('playlist-player', {
            height: '120',
            width: '120',
            videoId: initialVideoId,
            playerVars: {
                'playsinline': 1,
                'rel': 0
            },
            events: {
                'onReady': onPlayerReady,
                'onError': onError,
                'onStateChange': onPlayerStateChange
            },
        });
    }

    function onError(error) {
        console.log('error', error.data);
    }

    function onPlayerReady(event) {
        console.log('onPlayerReady');
        // event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        console.log('onPlayerStateChange', event.data);
        if (event.data === YT.PlayerState.ENDED) {
            playlist?.buttons.playBtn.classList.remove('toggled');
            playlist?.buttons.pauseBtn.classList.remove('toggled');
            playlist?.buttons.stopBtn.classList.add('toggled');
            playlist?.buttons.nextBtn.click();
        }

        if (event.data === YT.PlayerState.PLAYING) {
            playlist?.buttons.playBtn.classList.add('toggled');
            playlist?.buttons.pauseBtn.classList.remove('toggled');
            playlist?.buttons.stopBtn.classList.remove('toggled');
        } else if (event.data === YT.PlayerState.PAUSED) {
            playlist?.buttons.playBtn.classList.add('toggled');
            playlist?.buttons.pauseBtn.classList.add('toggled');
            playlist?.buttons.stopBtn.classList.remove('toggled');
        } else if (event.data === YT.PlayerState.ENDED || event.data === YT.PlayerState.CUED) {
            playlist?.buttons.playBtn.classList.remove('toggled');
            playlist?.buttons.pauseBtn.classList.remove('toggled');
            playlist?.buttons.stopBtn.classList.add('toggled');
        }
    }

    function createPlaylist(el) {
        const lines = el.querySelectorAll('li');

        const status = {
            repeat: false,
        }

        function createButton(label, image, onclick) {
            const button = document.createElement('button');
            button.addEventListener('click', onclick);

            const lbl = document.createElement('span');
            lbl.textContent = label;
            const img = document.createElement('img');
            img.setAttribute('src', image);
            button.append(lbl);
            button.append(img);
            return button;
        }

        const buttonContainer = document.createElement('div');
        buttonContainer.classList.add('playlist--buttons');

        const playBtn = createButton('Play', '/assets/playlist/play.svg', () => {
            if (el.querySelector('[data-current]') === null) {
                switchTo(el.querySelector('li'));
                return;
            }
            player.playVideo();
        });
        const pauseBtn = createButton('Pause', '/assets/playlist/pause.svg', () => {
            player.pauseVideo();
        });
        const stopBtn = createButton('Stop', '/assets/playlist/stop.svg', () => {
            player.stopVideo();
        });
        const prevBtn = createButton('Prev', '/assets/playlist/backward.svg', () => {
            switchTo(el.querySelector('[data-current]')?.previousElementSibling);
        });
        const nextBtn = createButton('Next', '/assets/playlist/forward.svg', () => {
            let next = el.querySelector('[data-current]')?.nextElementSibling;

            if (!next && status.repeat) {
                next = lines[0];
            }

            switchTo(next);
        });
        const repeatBtn = createButton('Repeat', '/assets/playlist/repeat.svg', () => {
            status.repeat = repeatBtn.classList.toggle('toggled');
        });

        const buttons = {
            playBtn,
            pauseBtn, 
            stopBtn,
            prevBtn,
            nextBtn,
            repeatBtn
        }

        function switchTo(next) {
            el.querySelector('[data-current]')?.removeAttribute('data-current');
            if (!next) {
                player.stopVideo();
                return;
            }
            next.setAttribute('data-current', '');
            player?.loadVideoById({'videoId': next.dataset.youtubeId});
        }

        buttonContainer.prepend(repeatBtn);
        buttonContainer.prepend(nextBtn);
        buttonContainer.prepend(prevBtn);
        buttonContainer.prepend(stopBtn);
        buttonContainer.prepend(pauseBtn);
        buttonContainer.prepend(playBtn);

        el.prepend(buttonContainer);

        function runningTimeToSeconds(str) {
            const r = str.split(':').reverse()
            if (r.length <= 3) {
                return r.reduce((carry, val, i) => {
                    carry += parseInt(val) * Math.pow(60, i);
                    return carry;
                }, 0);
            }
            // wrong format
            return 0;
        }

        function convertSecondsToRunningTime(seconds) {
            const hrs = Math.floor(seconds / 3600);
            const mins = Math.floor((seconds % 3600) / 60);
            const secs = seconds % 60;

            return [
                    hrs > 0 ? String(hrs) : null,
                    String(mins),
                    String(secs)
                ]
                .filter(Boolean)
                .map(unit => String(unit).padStart(2, '0'))
                .join(':');
        }

        let totalRunning = 0;

        for(const line of lines) {
            const timeText = Array.from(line.childNodes)
                .find(node => node.nodeType === Node.TEXT_NODE);
            const time = timeText.textContent.trim().slice(1,-1);
            totalRunning += runningTimeToSeconds(time);
            const link = line.querySelector('a');
            link.classList.add('entry-link');
            const id = link.getAttribute('href').split('watch?v=')[1];
            const ext = document.createElement('a');
            ext.classList.add('ext-link');
            ext.setAttribute('target', '_blank');
            ext.setAttribute('rel', 'nofollow');
            ext.setAttribute('href', link.getAttribute('href'));
            ext.textContent = '#';

            line.append(ext);
            line.dataset.youtubeId = id;

            link.addEventListener('click', e => {
                e.preventDefault();
                const current = el.querySelector('[data-current]');
                if (current === line) {
                    return false;
                }

                switchTo(line);
                return false;
            });
        }

        const small = document.createElement('small');
        small.textContent = 'Total: ' + convertSecondsToRunningTime(totalRunning);

        el.append(small);

        initialVideoId = lines[0].dataset.youtubeId;

        loadYoutubeAPI();
        return {buttons};
    }
}
});
</script>
