@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --site-color-background: #f7f7ff;
  --site-color-backgroundAlt: #f0f0f8;
  --site-color-primary: #1a1a8c;
  --site-color-link: #1a1a8c;
  --site-color-highlight: #fdca40;
  --site-color-text: #011627;
  --site-color-body: #080708;
  --site-color-subtext: #7d869c;
  --site-color-shade: #eae6ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-color-background: #101310;
    --site-color-backgroundAlt: #202020;
    --site-color-primary: #bae95c;
    --site-color-link: #befd40;
    --site-color-highlight: #14005e;
    --site-color-text: #eeeeee;
    --site-color-body: #eeeee0;
    --site-color-subtext: #7d869c;
    --site-color-shade: #222222;
  }
}

html {
  font-family: "Literata", serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--site-color-background);
  color: var(--site-color-text);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li::before {
  content: "▪";
  color: var(--site-color-subtext);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li p {
  display: inline;
}

main a:not([class]) {
  color: var(--site-color-link);
  text-decoration: none;
  box-shadow: 0 2px 0 var(--site-color-link);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--site-color-shade);
  margin: 3rem 0 2rem;
}

p {
  line-height: 1.8;
  margin-block-start: 1.6em;
  margin-block-end: 1.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

blockquote {
  border-left: 5px solid var(--site-color-link);
  margin-left: 0;
  padding-left: 30px;
}