@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --site-color-background: #f7f7ff;
  --site-color-backgroundAlt: #f0f0f8;
  --site-color-primary: #12126c;
  --site-color-link: #0b70ec;
  --site-color-highlight: #fdca40;
  --site-color-text: #011627;
  --site-color-body: #080708;
  --site-color-subtext: #7d869c;
  --site-color-shade: #eae6ea;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-color-background: #101310;
    --site-color-backgroundAlt: #202020;
    --site-color-primary: #bae95c;
    --site-color-link: #befd40;
    --site-color-highlight: #14005e;
    --site-color-text: #eeeeee;
    --site-color-body: #eeeee0;
    --site-color-subtext: #7d869c;
    --site-color-shade: #000000;
  }
}

html {
  font-family: 'PT Serif', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--site-color-background);
  color: var(--site-color-text);
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

main a:not([class]) {
  color: var(--site-color-link);
  text-decoration: none;
  box-shadow: 0 2px 0 var(--site-color-link);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--site-color-subtext);
  margin: 3rem 0 2rem;
}

