:root {
  --site-color-background: #f7f7ff;
  --site-color-backgroundAlt: #f0f0f8;
  --site-color-primary: #4445c9;
  --site-color-link: #ec0b43;
  --site-color-highlight: #fdca40;
  --site-color-text: #011627;
  --site-color-body: #080708;
  --site-color-subtext: #7d869c;
  --site-color-shade: #eae6ea;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-color-background: #101310;
    --site-color-backgroundAlt: #202020;
    --site-color-primary: #4CAF50;
    --site-color-link: #fdca40;
    --site-color-highlight: #14005e;
    --site-color-text: #eeeeee;
    --site-color-body: #eeeee0;
    --site-color-subtext: #7d869c;
    --site-color-shade: #000000;
  }
}

html {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--site-color-background);
  color: var(--site-color-text);
  font-size: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}

main a:not([class]) {
  color: var(--site-color-link);
  text-decoration: none;
  box-shadow: 0 3px 0 var(--site-color-link);
}
