.author-box {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.author-box .author-box--links {
    font-size: 0.75rem;
}
.author-box .author-box--links a {
    color: #333;
}

.author-box .author-box--links a + a {
    margin-left: 0.5em;
}