.taxonomies {
  padding: 1rem 0;
}

.taxonomy {
  font-size: 0.9rem;
  box-shadow: none;
  background: #f0f0f0;
  color: #000000;
  font-family: sans-serif;
  padding: 0.3rem 0.6rem;
  display: inline-block;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.taxonomy:hover,
.taxonomy:focus {
  background: #0000FF;
  color: #fff;
}

.taxonomy + .taxonomy {
  margin-left: 0.5rem;
}

@media screen and (max-width: 460px) {
  .taxonomy {
    display: block;
    margin: .5rem 0;
    padding: 1rem;
  }
  .taxonomy + .taxonomy {
    margin-left: 0;
  }
}
