.head {
    margin: 0 auto;
    max-width: 760px;
    padding: 3rem 1rem 1rem;
}

.head a {
    text-decoration: none;
    color: inherit;
}

.head .lang-selector {
    float: right;
}

.head .lang-selector a {
    font-size: .7rem;
    line-height: 2rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 50px;
}
