<div class="list-page">
    <div class="list-section">
        <ul class="post-title-list">
${((nodes, node) => {

    function templateList(nodes) {
        const list = nodes.map(node => {
                const data = node.data;
                return `<li>
                    <time class="date" datetime="${data.frontmatter.date}">${moment(data.frontmatter.date).format('YYYY-MM-DD')}</time>
                    <span>
                        <a href="/${!data.fields.url ? '' : `${data.fields.url}/`}">${utils.displayTitle(data)}</a>
                    </span>
                </li>`
            }).join('');
        return list;
    }

    return templateList(nodes);

})(data.nodes, data.node)}

        </ul>
    </div>
</div>
