<div class="list-page">

    <div class="list-section">
${((nodes, node) => {
    function templatePagination({data}) {
        return `
        <div class="pagination">
            <div class="status">${data.fields.current + 1}/${data.fields.total} ${data.frontmatter.lang == 'ko' ? '페이지' : 'Pages'}</div>
            <div class="tag-nav">
                ${data.fields.olderUrl !== null ? `<a href="/${data.fields.olderUrl}">${data.frontmatter.lang == 'ko' ? '이전 포스트' : 'Older Posts'}</a>` : ''}
                ${data.fields.newerUrl !== null ? `<a href="/${data.fields.newerUrl}">${data.frontmatter.lang == 'ko' ? '최근 포스트' : 'Newer Posts'}</a>` : ''}
            </div>
        </div>
        `
    }

    function displayDate(date) {
        return `${date}`.substr(0, 10)
    }

    function templateList(nodes) {
        const list = nodes.map(node => template('post.html', node.data, {
            displayContent: utils.createDisplayContent(node, nodes, {partial: template})
        })).join('\n');
        return list;
    }

    function templatePosts(nodes) {
        return `<div class="post-list">${templateList(nodes)}</div>\n`;
    }

    const page = templatePagination(node);
    return templatePosts(nodes) + page;

})(data.nodes, data.node)}
    </div>
    <div class="list-aside">
        <aside class="meta-list">
            <!-- @template list-nav -->
        </aside>
        <aside class="tag-list">
            <!-- @template tags -->
        </aside>
        <aside class="archive-list">
            <!-- @template years -->
        </aside>
    </div>
</div>

