<div class="list-page">
    <div class="list-section">
        <ul class="post-title-list">
            ${
            data.nodes.map(node => {
                const data = node.data;
                return `<li>
                    <time datetime="${data.frontmatter.date}">${moment(data.frontmatter.date).format('YYYY-MM-DD')}</time>
                    <span>
                        <a href="/${!data.fields.url ? '' : `${data.fields.url}/`}">${utils.displayTitle(data)}</a>
                    </span>
                </li>`
            }).join('')
            }
        </ul>
    </div>
</div>
