${(({tags}) => {
    function templateTags() {
        return `<h2>태그별</h2><ul class="flat-list">${tags.children.map(n => parseTreeNode(n)).join('\n')}</ul>`;
    }

    function parseTreeNode(t) {
        let result = '';

        if (t.hidden) {
            return '';
        }

        if (t.url) {
            result += `<li><a href="/ko/tag/${t.url}/">${t.key}</a></li>`;
        } else {
            result += '<li>';
            result += `<span class="tag-title">${t.key}</span>`;
            result += '<ul>' + t.children.map(c => parseTreeNode(c)).join('\n') + '</ul>';
            result += '</li>';
        }

        return result;
    }

    return templateTags()
})(data)}

