${data.frontmatter.type === "post" ? `
    <div class="neighbor-links">
        ${data.fields.prev ? `<a href="/${data.fields.prev.url}"><span>이전 글</span> ${data.fields.prev.title}</a>` : ''}
        ${data.fields.next ? `<a href="/${data.fields.next.url}"><span>다음 글</span> ${data.fields.next.title}</a>` : ''}
    </div>
` : ''}

${(data.frontmatter.type === "post"
  || data.frontmatter.hasComment)
  ? `<div class="comments"></div>` : ''}

<footer class="site-footer">
    <div class="site-container">
        <nav>
            2026 용균.
            <a href="/ko/">한국어</a>
            <a href="/">English</a>
        </nav>
    </div>
</footer>

