<dialog id="website-setting">
    <div class="header">
        <h1>웹사이트 설정</h1>
        <button class="close-btn" autofocus>✕</button>
    </div>

    <p>웹페이지 색상을 선택하세요</p>
    <div class="preview"></div>

    <div class="options">
        <button class="color-select" data-color="day">
            Day
        </button>
        <button class="color-select" data-color="night">
            Night 
        </button>
        <button class="color-select" data-color="sepia">
            Sepia 
        </button>
    </div>
</dialog>

