<div class="comments">
    <script src="https://giscus.app/client.js"
        data-repo="edykim/edykim.com"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMDgxMTYwNDY="
        data-category="General"
        data-category-id="DIC_kwDOBnG4Ts4CTVMY"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>

${parent()}

