.frontispiece {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.frontispiece h1 {
    font-size: 2.4rem;
    letter-spacing: -0.1rem;
    margin-bottom: 0;
}

.frontispiece .headline {
    font-size: 1.2rem;
    margin-top: 1rem;
}
