.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 2.5rem 0;
}

.sections .section {
    width: 33%;
}

.sections .section :nth-of-type(1) {
    margin-top: 0;
}

@media screen and (min-width: 360px) and (max-width: 600px) {
    .sections .section {
        width: 50%;
    }
}
@media screen and (max-width: 360px) {
    .sections {
        display: block;
    }
    .sections .section {
        width: auto;
    }
}

html[lang="en"] .content {
    line-height: 1.7;
}

html[lang="ko"] .content {
    line-height: 1.86;
}

.aligncenter {
  display: block;
  margin: 3rem auto;
}

figure[class^="image-"] {
  margin: 3rem auto;
}

figure[class^="image-"] img {
  margin: 0 auto;
  display: block;
}

figure[class^="image-"] figcaption {
  text-align: center;
  font-family: sans-serif;
  color: #666;
  font-size: 0.8em;
  margin-top: 1rem;
}
