:root {
    --color-day-background-color: #f8f8f2;
    --color-day-text: #1d1d1f;
    --color-day-shadow: #efebe7;
    --color-day-gray: #555555;
    --color-day-border: #eee;
    --color-day-button: #ede6de;
    --color-day-code-background-color: #fcfdff;
    --color-day-link: #301eb5;
    --color-day-link-visited: #551A8B;
    --color-day-link-active: #EE0000;

    --color-night-background-color: #000033;
    --color-night-text: #c7c7dd;
    --color-night-shadow: #1c1c51;
    --color-night-gray: #7d80c2;
    --color-night-border: #151748;
    --color-night-button: #151748;
    --color-night-code-background-color: #080920;
    --color-night-link: #79e0ff;
    --color-night-link-visited: #c579ff;
    --color-night-link-active: #ffacac;

    --color-sepia-background-color: #f6edd3;
    --color-sepia-text: #3c2b12;
    --color-sepia-shadow: #e2d5b0;
    --color-sepia-gray: #6d5e2e;
    --color-sepia-border: #e4d8b4;
    --color-sepia-button: #e4d8b4;
    --color-sepia-code-background-color: #fff3dc;
    --color-sepia-link: #4147a1;
    --color-sepia-link-visited: #7a3d5e;
    --color-sepia-link-active: #ec341c;

    --color-dark-background-color: #1c1c1c;
    --color-dark-text: #c4c4c4;
    --color-dark-shadow: #444;
    --color-dark-gray: #6d6d6d;
    --color-dark-border: #444444;
    --color-dark-button: #282828;
    --color-dark-code-background-color: #28282a;
    --color-dark-link: #197fda;
    --color-dark-link-visited: #af6ac9;
    --color-dark-link-active: #ff5f37;


    --color-tumblr-background-color: #1a2735;
    --color-tumblr-text: #bfbfbf;
    --color-tumblr-shadow: #3d4c62;
    --color-tumblr-gray: #858a8e;
    --color-tumblr-border: #303b47;
    --color-tumblr-button: #16222f;
    --color-tumblr-code-background-color: #151d26;
    --color-tumblr-link: #529ecc;
    --color-tumblr-link-visited: #bfb3ff;
    --color-tumblr-link-active: #6a52cc;


    --color-maple-background-color: #3c251d;
    --color-maple-text: #eee4d4;
    --color-maple-shadow: #533830;
    --color-maple-gray: #9f6552;
    --color-maple-border: #4d3026;
    --color-maple-button: #2c1b15;
    --color-maple-code-background-color: #271813;
    --color-maple-link: #ed7b00;
    --color-maple-link-visited: #ce6021;
    --color-maple-link-active: #ed5b00;

    --color-inline-code-background-color: rgba(255, 255, 255, 0.5);
}

.mode--night  {
    --color-background-color: var(--color-night-background-color);
    --color-text: var(--color-night-text);
    --color-gray: var(--color-night-gray);
    --color-border: var(--color-night-border);
    --color-button: var(--color-night-button);
    --color-shadow: var(--color-night-shadow);
    --color-code-background-color: var(--color-night-code-background-color);
    --color-link: var(--color-night-link);
    --color-link-visited: var(--color-night-link-visited);
    --color-link-active: var(--color-night-link-active);
}

.mode--day {
    --color-background-color: var(--color-day-background-color);
    --color-text: var(--color-day-text);
    --color-gray: var(--color-day-gray);
    --color-border: var(--color-day-border);
    --color-button: var(--color-day-button);
    --color-shadow: var(--color-day-shadow);
    --color-code-background-color: var(--color-day-code-background-color);
    --color-link: var(--color-day-link);
    --color-link-visited: var(--color-day-link-visited);
    --color-link-active: var(--color-day-link-active);
}

.mode--sepia {
    --color-background-color: var(--color-sepia-background-color);
    --color-text: var(--color-sepia-text);
    --color-gray: var(--color-sepia-gray);
    --color-border: var(--color-sepia-border);
    --color-button: var(--color-sepia-button);
    --color-shadow: var(--color-sepia-shadow);
    --color-code-background-color: var(--color-sepia-code-background-color);
    --color-link: var(--color-sepia-link);
    --color-link-visited: var(--color-sepia-link-visited);
    --color-link-active: var(--color-sepia-link-active);
}

.mode--dark {
    --color-background-color: var(--color-dark-background-color);
    --color-text: var(--color-dark-text);
    --color-gray: var(--color-dark-gray);
    --color-border: var(--color-dark-border);
    --color-button: var(--color-dark-button);
    --color-shadow: var(--color-dark-shadow);
    --color-code-background-color: var(--color-dark-code-background-color);
    --color-link: var(--color-dark-link);
    --color-link-visited: var(--color-dark-link-visited);
    --color-link-active: var(--color-dark-link-active);
}

.mode--tumblr {
    --color-background-color: var(--color-tumblr-background-color);
    --color-text: var(--color-tumblr-text);
    --color-gray: var(--color-tumblr-gray);
    --color-border: var(--color-tumblr-border);
    --color-button: var(--color-tumblr-button);
    --color-shadow: var(--color-tumblr-shadow);
    --color-code-background-color: var(--color-tumblr-code-background-color);
    --color-link: var(--color-tumblr-link);
    --color-link-visited: var(--color-tumblr-link-visited);
    --color-link-active: var(--color-tumblr-link-active);
}

.mode--maple {
    --color-background-color: var(--color-maple-background-color);
    --color-text: var(--color-maple-text);
    --color-gray: var(--color-maple-gray);
    --color-border: var(--color-maple-border);
    --color-button: var(--color-maple-button);
    --color-shadow: var(--color-maple-shadow);
    --color-code-background-color: var(--color-maple-code-background-color);
    --color-link: var(--color-maple-link);
    --color-link-visited: var(--color-maple-link-visited);
    --color-link-active: var(--color-maple-link-active);
}

html {
    background-color: var(--color-background-color);
    color: var(--color-text);
    font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-break: keep-all;

    margin: 1rem;
    margin-top: max(1rem, 1.2vw);
    margin-bottom: max(1rem, 1.2vw);
    max-width: none;
}

* {
    box-sizing: border-box;
}

a:link { color: var(--color-link); }
a:visited { color: var(--color-link-visited); }
a:active { color: var(--color-link-active); }

.mode--night,
.mode--maple,
.mode--tumblr,
.mode--dark {
    scrollbar-color: var(--color-text) var(--color-shadow);
    --color-inline-code-background-color: rgba(255, 255, 255, 0.08);
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table--left table {
    margin-left: 0;
}

table th,
table td {
    border: 1px solid var(--color-border);
    padding: 0.25rem 0.75rem;
}

body > .site-header,
body > .site-footer,
body > .page,
body > .neighbor-links,
body > .comments {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.page .content > .wide {
    max-width: 1720px;
}

.page .content figure {
    margin: 1rem 0 2rem;
}

.page .content figure p {
    margin: 0;
}

.page .content hr {
    width: 100px;
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background: var(--color-border);
}

.page .content figcaption {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.page .content > pre > code {
    font-size: 0.9rem;
}

.page .content :not(pre) > code {
    background-color: var(--color-inline-code-background-color);
    font-size: 0.9rem;
    padding: 0.02rem 0.3rem;
    border-radius: 5px;
    display: inline-block;
}


.page .content > pre > code[class^=language-] {
    overflow-x: auto;
}

.page .content h1 {
    font-size: 1.65rem;
    font-weight: 500;
}

.page .content h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.page .content h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

.page .content h4 {
    font-size: 0.9rem;
    font-weight: 700;
}

.page .content h5 {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.site-header {
    position: relative;
    margin-bottom: 1rem;
}

.site-header, .site-footer {
    display: block;
}

.site-nav {
    display: flex;
    gap: 1rem;
}

.site-header nav {
    display: flex;
    gap: 0.5rem;
}

.site-header .site-title a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.site-header nav a {
    color: inherit;
    border-bottom: 2px solid var(--color-border);
    text-decoration: none;
}

.site-header nav a:hover,
.site-header nav a:active,
.site-header nav a:focus,
.site-header nav a.active {
    border-bottom-color: var(--color-text);
}

.site-footer {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.site-footer a {
    color: var(--color-gray);
}

.setting-btn {
    position: absolute;
    top: 0;
    right: 0;
    appearance: none;
    border: 0;
    background-color: transparent;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--color-link);
}
.setting-btn:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    background-color: var(--color-link);
    border-radius: 100%;
    content: "";
}

.setting-btn:hover,
.setting-btn:active { background-color: var(--color-link); }
.setting-btn:hover:after,
.setting-btn:active:after { background-color: var(--color-background-color); }

.setting-btn svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color-gray);
}

.setting-btn:hover svg,
.setting-btn:active svg {
    fill: var(--color-background-color);
}

.page-header h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
}

.page-header h1 a {
    color: inherit;
    text-decoration: none;
}

.list-page .page-header h1 {
    font-size: 1.5rem;
    max-width: 52rem;
}

.list-page .page-header h1 a {
    border-bottom: 2px solid var(--color-border);
}

.list-page-nav {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 1rem 0 3rem;
}

.dropdown-nav {
    position: relative;
}

.dropdown-nav ul {
    display: none;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    min-width: 9.5rem;
    background: var(--color-shadow);
    border-radius: 10px;
    border-top-left-radius: 0;
}
.dropdown-nav .label {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-button);
    border-radius: 10px;
}

.dropdown-nav ul a {
    display: block;
    text-decoration: none;
    color: var(--color-inherit);
    padding: 0.25rem 0.5rem;
}

.dropdown-nav ul a span {
    opacity: 0.6;
}

.dropdown-nav ul a:hover,
.dropdown-nav ul a:active,
.dropdown-nav ul a:focus {
    color: var(--color-link-active);
}

.dropdown-nav:hover ul,
.dropdown-nav:active ul,
.dropdown-nav:focus ul,
.dropdown-nav:focus-within ul {
    display: block;
    position: absolute;
    z-index: 100;
    margin-top: 0.05rem;
}

.headline {
    color: var(--color-gray);
    margin-bottom: 1.75rem;
    margin-top: -0.75rem;
    font-size: 0.9rem;
}

.list-page .page + .page:before {
    content: '';
    display: block;
    max-width: 52rem;
    margin-top: max(3rem, 10vw);
    border-top: 5px solid var(--color-shadow);
    padding-top: 1rem;
}

footer.page-footer {
    font-size: 0.8rem;
}

footer.page-footer .published-on,
footer.page-footer .updated-on {
    opacity: 0.7;
}

.content ul ul,
.list-aside ul ul {
    padding-left: 1.5rem;
}

.neighbor-links, .tag-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 0.9rem;
    max-width: 52rem;
    gap: 0.5rem;
}

.neighbor-links a,
.tag-nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    background: var(--color-button);
    border-radius: 5px;
    flex: 1;
}
.neighbor-links a span {
    font-weight: bold;
    display: block;
    font-size: 0.8rem;
    color: var(--color-gray);
    display: block;
    margin-bottom: 0.25rem;
}
.neighbor-links a + a,
.tag-nav a + a {
    text-align: right;
}

.post-title-list time {
    font-variant-numeric: tabular-nums;
}

.pagination .status {
    max-width: 52rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin: 3rem 0 0rem;
}

.list-aside {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

hr {
    color: var(--color-border);
    border: 0;
    border-top: 5px solid;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.page .content > .columns {
    max-width: 1720px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.page .content > .columns > * {
    flex: 1;
}

::backdrop {
  background-color: #000;
  opacity: 0.75;
}

#website-setting {
    font-family: monospace;
    padding: 0;
    border-radius: 0;
    border: 6px solid #04009a;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#website-setting .modal-outer {
    border: 1px solid #fff;
    border-top: 0;
    border-bottom: 0;
}

#website-setting h1 {
    margin: 0;
    font-size: 1rem;
    padding-left: 0.75rem;
}

#website-setting .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #04009a;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #000;
    border-top: 1px solid #fff;
    position: sticky;
    top: 0;
}

#website-setting .header button {
    appearance: none;
    background: #c0c0c0;
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    border-left: 3px solid #000;
    -webkit-text-stroke: 4px black; /* outline */
    paint-order: stroke fill;
    text-shadow: 3px 3px 3px #000;
}

#website-setting .header button:hover,
#website-setting .header button:active {
    background: #d0d0d0;
}

#website-setting p {
    padding: 0 1rem;
}

#website-setting .options {
    padding: 0 1rem 2rem;
}

#website-setting p.darkreader-warning {
    font-size: 0.8rem;
}

#website-setting .options label {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

#website-setting .color-select:before {
    content: 'ABC';
    white-space: pre-wrap;
    display: block;
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 2px 10px;
    border: 1px solid;
    text-align: left;
    position: absolute;
    right: 0;
}

#website-setting .color-select-day:before {
    background-color: var(--color-day-background-color);
    color: var(--color-day-text);
}

#website-setting .color-select-night:before {
    background-color: var(--color-night-background-color);
    color: var(--color-night-text);
}

#website-setting .color-select-sepia:before {
    background-color: var(--color-sepia-background-color);
    color: var(--color-sepia-text);
}

#website-setting .color-select-maple:before {
    background-color: var(--color-maple-background-color);
    color: var(--color-maple-text);
}

#website-setting .color-select-dark:before {
    background-color: var(--color-dark-background-color);
    color: var(--color-dark-text);
}

#website-setting .color-select-tumblr:before {
    background-color: var(--color-tumblr-background-color);
    color: var(--color-tumblr-text);
}

html .hljs {
    background: var(--color-code-background-color);
    font-size: 0.9rem;
}

.font-size-extra-large {
    font-size: 3rem !important;
}
.font-size-large {
    font-size: 2rem !important;
}
.font-size-medium {
    font-size: 1rem !important;
}
.font-size-small {
    font-size: 0.9rem !important;
}
.font-size-extra-small {
    font-size: 0.7rem !important;
}

.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.darkreader-warning {
    display: none;
}

[data-darkreader-scheme="dark"] .darkreader-warning {
    display: block;
    margin-bottom: 0;
}

details {
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

details[open] {
    padding: 0.5em;
}

.post-title-list {
    padding: 0;
    list-style: none;
}

.post-title-list time {
    margin-right: 1rem;
    color: var(--color-gray);
}

.post-title-list a {
    text-decoration: none;
}

.post-title-list li {
    display: grid;
    grid-template-columns: auto 1fr;
}

.post-title-list li + li {
    margin-top: 0.25rem;
}

@media screen and (max-width: 340px) {
    .post-title-list li {
        grid-template-columns: 1fr;
    }
}

.random-btn, .details-toggle-btn, .fold-btn {
    appearance: none;
    border: 2px solid var(--color-text);
    background: transparent;
    color: var(--color-text);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.content iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 3 / 2;
}

.content > .narrow {
    max-width: 30rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    margin-top: 1.5em;
    margin-bottom: 0.67em;
}

.subtitle {
    font-weight: 600 !important;
    font-size: 1rem !important;
    margin: 1.5rem 0 0.5rem;
}

.subtitle a {
    text-decoration: none;
    color: inherit;
}

.subtitle + .list-page .post-title-list {
    margin-top: 0;  
}


.mode--night .headpiece img {
    filter: invert(1) hue-rotate(330deg);
}

.mode--tumblr .headpiece img {
    filter: invert(1);
}

.mode--dark .headpiece img {
    filter: invert(1) grayscale(1);
}

.mode--maple .headpiece img {
    filter: invert(1) hue-rotate(330deg);
}

.likes-widget {
    margin: 2rem 0 1rem;
}

.likes-widget button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    appearance: none;
    border: none;
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 8px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}

.likes-widget button .label {
    font-weight: bold;
    font-size: 0.75rem;
}
.likes-widget button .cnt:empty {
    display: none;
}
.likes-widget button .cnt {
    font-weight: bold;
    font-size: 0.75rem;
    display: inline-block;
    min-width: 0.6rem;
    color: var(--color-text);
}

.likes-widget button.liked {
    color: var(--color-background-color);
    background-color: var(--color-link-visited);
}

.likes-widget button.liked .cnt {
    color: var(--color-background-color);
}

.likes-widget button:hover,
.likes-widget button.liked:hover {
    color: var(--color-background-color);
    background-color: var(--color-link);
}

.likes-widget button:focus,
.likes-widget button:active {
    color: var(--color-background-color);
    background-color: var(--color-link-active);
}

.likes-widget button:active {
    animation: button-focus 0.2s;
}

@keyframes button-focus {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.with-random-button {
    margin-bottom: 3rem;
    max-width: none !important;
}

.with-random-button ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid: auto-flow dense 1fr / repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: 0.3rem;
    align-items: stretch;
}

.with-random-button ul a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    background-color: var(--color-border);
    padding: 0.75rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.9rem;
}
.with-random-button ul a:after {
    content: attr(href);
    display: block;
    color: var(--color-gray);
    font-size: 0.6rem;
}
.with-random-button ul a:hover {
    background-color: var(--color-link);
    color: var(--color-background-color);
}
.with-random-button ul a:hover:after {
    color: var(--color-background-color);
}

.content-table-wrapper {
    overflow-x: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.flat-list > ul {
    padding-left: 20px;
}

.flat-list li {
    margin-top: 0.5rem;
}

.tags a {
    text-decoration: none;
    font-size: 0.8rem;
    background-color: var(--color-shadow);
    padding: 0.4rem 0.6rem;
    color: var(--color-text);
    border-radius: 3px;
}

.tags a:hover {
    background-color: var(--color-link);
    color: var(--color-background-color);
}

.page-meta {
    display: flex;
    font-size: 0.8rem;
    font-style: italic;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    margin-top: -0.8rem;
    color: var(--color-gray);
}

.page-meta:has(.published-on) .updated-on:after {
    content: ',';
    text-transform: italic;
    margin-left: -0.1rem;
}

#table-of-contents {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

#table-of-contents + ul {
    margin-top: 0;
    border: 1px solid var(--color-border);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: inline-block;
}
#table-of-contents + ul a {
    text-decoration-style: dotted;
    color: inherit;
}

.footnotes {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid var(--color-border);
    font-size: 0.9rem;
}

.footnotes > * {
    padding-left: 20px;
}

.data-footnote-backref {
    text-decoration: none;
    font-family: monospace;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

blockquote {
    border-left: 2px solid;
    padding-left: 1rem;
    margin-left: 1rem;
}

blockquote + blockquote {
    margin-top: 0.5rem;
}
