:root {
    --max-width: 47.5rem;
    --max-width-narrow: 44.5rem;
    --color-day-background-color: white;
    --color-night-background-color: #000033;
    --color-sepia-background-color: #f6edd3;
    --color-day-text: #000000;
    --color-night-text: #c7c7dd;
    --color-sepia-text: #3c2b12;
    --site-padding: 0.75rem;

    --color-day-shadow: #e4efdb;
    --color-night-shadow: #1c1c51;
    --color-sepia-shadow: #e2d5b0;
}

@media screen and (max-width: 460px) {
    :root {
        font-size: 85%;
    }
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;stylecss
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[lang=ko] * {
    word-break: keep-all;
}

html {
    font: 16px/1.5 Lato,-apple-system,Helvetica Neue,Arial,Helvetica,Noto Sans
        KR,Noto Sans CJK KR,Apple SD Gothic Neo,Barun Gothic,Nanum Barun
        Gothic,Malgun Gothic,맑은 고딕,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    word-wrap: break-word;
    font-kerning: normal;
    margin: 0;
    padding: 0;
}

h1 a {
    color: inherit !important;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    padding: 0.2rem 0;
}

.mode--night  {
    --color-background-color: var(--color-night-background-color);
    --color-text: var(--color-night-text);
    --color-gray: #7d80c2;
    --color-border: #151748;
    --color-shadow: var(--color-night-shadow);
}

.mode--day {
    --color-background-color: var(--color-day-background-color);
    --color-text: var(--color-day-text);
    --color-gray: #555555;
    --color-border: #eee;
    --color-shadow: var(--color-day-shadow);
}

.mode--sepia {
    --color-background-color: var(--color-sepia-background-color);
    --color-text: var(--color-sepia-text);
    --color-gray: #6d5e2e;
    --color-border: #e4d8b4;
    --color-shadow: var(--color-sepia-shadow);
}

html, body {
    background-color: var(--color-background-color);
    color: var(--color-text);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.setting-btn {
    color: inherit;
    border: 0;
    background-color: transparent;
    float: right;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    line-height: 0;
    margin-right: -5px;
    margin-top: -10px;
}

.cog-icon {
    display: inline-block;
}

.mode--night .setting-btn path {
    fill: #7777aa;
}

.mode--day .setting-btn path {
    fill: #666666;
}

.mode--sepia .seting-btn path {
    fill: #6d5e2e;
}

.mode--night a:link    { color: #79e0ff; }
.mode--night a:visited { color: #c579ff; }
.mode--night a:active  { color: #ffacac; }

.mode--sepia a:link    { color: #4147a1; }
.mode--sepia a:visited { color: #7a3d5e; }
.mode--sepia a:active  { color: #ec341c; }

.mode--night {
    scrollbar-color: var(--color-text) var(--color-background-color);
}

.mode--sepia {
    scrollbar-color: var(--color-text) var(--color-background-color);
}

.site-header,
.site-footer,
.page {
    margin: 1rem auto;
}

.site-container {
    margin-left: var(--site-padding);
    margin-right: var(--site-padding);
}

.site-header nav {
    display: inline-block;
    margin-left: 0.5rem;
}

.site-header nav a {
    text-decoration: none;
    color: inherit !important;
    display: inline-block;
    margin-right: 0.3rem;
}

.site-title a {
    text-decoration: none;
    color: inherit !important;
    font-weight: bold;
}

.site-header,
.site-footer,
.subnav {
    max-width: var(--max-width);
}

.site-header .site-container .site-nav {
    float: left;
}

.site-header .site-container .site-nav a {
    display: inline-block;
    padding: 0.2rem 0;
}

.subnav {
    margin: -1rem auto -2rem;
    padding: 0.35rem 0 0;
    border: 2px solid;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--color-shadow);
}

.subnav-title {
    padding-bottom: 0.25rem;
    margin-bottom: 0.1rem;
    cursor: pointer;
}

.subnav-title a {
    display: block;
}

.subnav > .site-container > ul {
    display: none;
}

.subnav .subnav-title a:before {
    content: '';
    width: 7px;
    height: 7px;
    border-left: 3px solid;
    border-top: 3px solid;
    float: right;
    margin-top: 7px;
    margin-right: 3px;
    transition: all 0.3s ease-in-out;
    transform: rotateZ(45deg);
}
.subnav.opened .subnav-title a:before {
    transform: rotateZ(225deg);
    margin-top: 5px;
}

.subnav.opened > .site-container > ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid;
}

.subnav.opened > .site-container ul ul {
    display: block;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.subnav ul li {
    padding: 0;
    margin: 0.35rem 0;
}

.subnav a {
    text-decoration: none;
    color: inherit !important;
}

.site-header {
    margin-top: 3rem;
    border-bottom: 1px solid var(--color-border);
}

.site-header:after {
    content: '';
    display: block;
    clear: both;
}

.site-footer {
    margin-top: 2rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    border-top: 1px solid var(--color-border);
}

.site-footer a {
    text-decoration: none;
    color: inherit !important;
    margin-right: 0.3rem;
    display: inline-block;
}

.page-header,
.page-footer,
.content > *,
.comments {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
}

.content > ul:not([class]),
.content > ol:not([class]) {
    padding-left: 40px;
}

.content > img {
    display: block;
}

.content > blockquote {
    max-width: var(--max-width-narrow);
    border-left: 3px solid var(--color-border);
}

.content iframe[src*="youtube"] {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.tags a {
    color: inherit !important;
}

.page-header {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 790px) {
    .site-header {
        margin-top: var(--site-padding);
    }
    .site-footer {
        margin-bottom: var(--site-padding);
    }
    .page-header {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .subnav {
        margin-bottom: -1rem;
        border-radius: 0;
        border: 0;
    }
    .subnav.opened {
        padding-bottom: 0.1em;
    }
}

.page-footer {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.page-header .headline {
    font-size: 0.95rem;
    font-weight: 600;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-gray);
}

.post-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-item .post-item--title {
    flex: 1;
    padding-right: 0.5rem;
}

.post-item date {
    font-variant-numeric: tabular-nums;
    color: var(--color-gray);
}

.content figure.wide {
    max-width: 1024px;
    text-align: center;
}

.content figcaption {
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem;
    opacity: 0.8;
}

.content .columns {
    display: flex;
}

.content .columns figure {
    margin: 0;
}

.content li > :first-child {
    margin-top: 0;
}

.content li > :first-child {
    margin-bottom: 0;
}

:not(pre) > code {
    border: 1px solid;
    padding: 0.1rem 0.4rem;
    border-radius: 3px
}

pre code.hljs {
    font-size: 0.8rem;
    padding: 1rem !important;
    border-radius: 4px;
}

footer {
    font-size: 0.8rem;
    color: var(--color-gray);
}

.content .post-list {
    list-style: none;
}

.content .random-btn,
.content .fold-btn {
    appearance: none;
    font-family: inherit;
    padding: 0.3rem 0.45rem;
    border: 2px solid;
    border-radius: 5px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: inherit;
}

.content .with-random-button ul {
    list-style: none;
    padding: 0;
}

.content .with-random-button li {
    display: inline-block;
}

.content .with-random-button a {
    color: inherit !important;
    font-size: 0.9rem;
}

.content .random-btn:before {
    content: "🎲";
    margin-right: 0.3rem;
}

.content table {
    border-collapse: collapse;
    border: 1px solid;
}

.content th,
.content td {
    border: 1px solid;
    padding: 0.3rem 0.5rem;
}

.post-list .post-item a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

hr {
    border-color: var(--color-border);
}

::backdrop {
  background-color: #000;
  opacity: 0.75;
}

#website-setting {
    padding: 1.25rem;
    background-color: #191b1c;
    border: 1px solid #272b2d;
    border-radius: 10px;
    color: #fff;
    min-width: 95vw;
}

@media screen and (min-width: 1024px) {
    #website-setting {
        min-width: 600px;
    }
}

#website-setting :first-child {
    margin-top: 0;
}

#website-setting h1 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#website-setting .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #212528;
    padding-bottom: 0.5rem;
}

#website-setting .options {
    display: flex;
    justify-content: center;
}

#website-setting .color-select {
    appearance: none;
    background-color: transparent;
    border: 0;
    width: 80px;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
}

#website-setting .color-select:before {
    display: inline-block;
    content: '';
    border: 3px solid #000;
    border-radius: 100%;
    background-color: #000;
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
}

#website-setting .preview {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem auto;
}

#website-setting .preview:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 8px;
}

#website-setting .preview:after {
    content: '';
    display: inline-block;
    width: 70%;
    height: 4px;
    margin-bottom: 10px;
    box-shadow: 0 10px 0, 0 20px 0;
}

.mode--day #website-setting .color-select[data-color="day"]:before {
    background-color: #fff;
}
.mode--night #website-setting .color-select[data-color="night"]:before {
    background-color: #fff;
}
.mode--sepia #website-setting .color-select[data-color="sepia"]:before {
    background-color: #fff;
}

.mode--day #website-setting .preview {
    background-color: var(--color-day-background-color);
}
.mode--night #website-setting .preview {
    background-color: var(--color-night-background-color);
}
.mode--sepia #website-setting .preview {
    background-color: var(--color-sepia-background-color);
}

.mode--day #website-setting .preview:before,
.mode--day #website-setting .preview:after {
    background-color: var(--color-day-text);
    color: var(--color-day-text);
}

.mode--night #website-setting .preview:before,
.mode--night #website-setting .preview:after {
    background-color: var(--color-night-text);
    color: var(--color-night-text);
}

.mode--sepia #website-setting .preview:before,
.mode--sepia #website-setting .preview:after {
    background-color: var(--color-sepia-text);
    color: var(--color-sepia-text);
}

#website-setting .close-btn {
    appearance: 0;
    border: 0;
    background: transparent;
    font-weight: bold;
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;
}

.mode--night .hljs {
    background: #080920;
}

.mode--sepia .hljs {
    background: #29200f;
}

