:root {
    --color-day-background-color: #f8f8f2;
    --color-day-text: #1d1d1f;
    --color-day-shadow: #e4efdb;
    --color-day-gray: #555555;
    --color-day-border: #eee;
    --color-day-code-background-color: #0d1117;
    --color-day-link: #301eb5;
    --color-day-link-visited: #551A8B;
    --color-day-link-active: #EE0000;

    --color-night-background-color: #000033;
    --color-night-text: #c7c7dd;
    --color-night-shadow: #1c1c51;
    --color-night-gray: #7d80c2;
    --color-night-border: #151748;
    --color-night-code-background-color: #080920;
    --color-night-link: #79e0ff;
    --color-night-link-visited: #c579ff;
    --color-night-link-active: #ffacac;

    --color-sepia-background-color: #f6edd3;
    --color-sepia-text: #3c2b12;
    --color-sepia-shadow: #e2d5b0;
    --color-sepia-gray: #6d5e2e;
    --color-sepia-border: #e4d8b4;
    --color-sepia-code-background-color: #29200f;
    --color-sepia-link: #4147a1;
    --color-sepia-link-visited: #7a3d5e;
    --color-sepia-link-active: #ec341c;

    --color-dark-background-color: #222222;
    --color-dark-text: #c4c4c4;
    --color-dark-shadow: #444;
    --color-dark-gray: #6d6d6d;
    --color-dark-border: #444444;
    --color-dark-code-background-color: #0d1117;
    --color-dark-link: #90bfff;
    --color-dark-link-visited: #f190ff;
    --color-dark-link-active: #ffa290;


    --color-tumblr-background-color: #1a2735;
    --color-tumblr-text: #bfbfbf;
    --color-tumblr-shadow: #3d4c62;
    --color-tumblr-gray: #858a8e;
    --color-tumblr-border: #303b47;
    --color-tumblr-code-background-color: #19222c;
    --color-tumblr-link: #529ecc;
    --color-tumblr-link-visited: #bfb3ff;
    --color-tumblr-link-active: #6a52cc;
}

.mode--night  {
    --color-background-color: var(--color-night-background-color);
    --color-text: var(--color-night-text);
    --color-gray: var(--color-night-gray);
    --color-border: var(--color-night-border);
    --color-shadow: var(--color-night-shadow);
    --color-code-background-color: var(--color-night-code-background-color);
    --color-link: var(--color-night-link);
    --color-link-visited: var(--color-night-link-visited);
    --color-link-active: var(--color-night-link-active);
}

.mode--day {
    --color-background-color: var(--color-day-background-color);
    --color-text: var(--color-day-text);
    --color-gray: var(--color-day-gray);
    --color-border: var(--color-day-border);
    --color-shadow: var(--color-day-shadow);
    --color-code-background-color: var(--color-day-code-background-color);
    --color-link: var(--color-day-link);
    --color-link-visited: var(--color-day-link-visited);
    --color-link-active: var(--color-day-link-active);
}

.mode--sepia {
    --color-background-color: var(--color-sepia-background-color);
    --color-text: var(--color-sepia-text);
    --color-gray: var(--color-sepia-gray);
    --color-border: var(--color-sepia-border);
    --color-shadow: var(--color-sepia-shadow);
    --color-code-background-color: var(--color-sepia-code-background-color);
    --color-link: var(--color-sepia-link);
    --color-link-visited: var(--color-sepia-link-visited);
    --color-link-active: var(--color-sepia-link-active);
}

.mode--dark {
    --color-background-color: var(--color-dark-background-color);
    --color-text: var(--color-dark-text);
    --color-gray: var(--color-dark-gray);
    --color-border: var(--color-dark-border);
    --color-shadow: var(--color-dark-shadow);
    --color-code-background-color: var(--color-dark-code-background-color);
    --color-link: var(--color-dark-link);
    --color-link-visited: var(--color-dark-link-visited);
    --color-link-active: var(--color-dark-link-active);
}

.mode--tumblr {
    --color-background-color: var(--color-tumblr-background-color);
    --color-text: var(--color-tumblr-text);
    --color-gray: var(--color-tumblr-gray);
    --color-border: var(--color-tumblr-border);
    --color-shadow: var(--color-tumblr-shadow);
    --color-code-background-color: var(--color-tumblr-code-background-color);
    --color-link: var(--color-tumblr-link);
    --color-link-visited: var(--color-tumblr-link-visited);
    --color-link-active: var(--color-tumblr-link-active);
}

html {
    background-color: var(--color-background-color);
    color: var(--color-text);
    line-height: 1.5;
    font-size: calc(12px + .3vw);
}

body {
    font-family: Pretendard, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, Ubuntu, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-break: keep-all;
    margin: 1.25rem;
    max-width: none;
}

a:link { color: var(--color-link); }
a:visited { color: var(--color-link-visited); }
a:active { color: var(--color-link-active); }

.mode--night,
.mode--sepia,
.mode--tumblr,
.mode--dark {
    scrollbar-color: var(--color-text) var(--color-shadow);
}

h1,
h2,
h3,
h4,
h5,
table th {
    font-family: -system-ui, sans-serif;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid;
    padding: 0.25rem 0.75rem;
}

.page .content > * {
    max-width: 52rem;
}

.page .content > .wide {
    max-width: 1720px;
}

.page .content figure {
    margin: 1rem 0 2rem;
}

.page .content figure > * {
    margin: 0;
}

.page .content hr {
    width: 100px;
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background: black;
}

.page .content figcaption {
    font-size: 0.95rem;
}

.page .content > pre > code {
    font-size: 0.9rem;
}

.site-header, .site-footer {
    display: block;
}

.site-header a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0.2rem;
}

.site-header nav {
    display: inline-block;
}

.site-header .site-title {
    display: inline-block;
    margin-left: -0.2rem;
}

.site-footer {
    margin: 2rem 0;
}

.setting-btn {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    appearance: none;
    border: 0;
    background-color: var(--color-link);
    color: var(--color-background-color);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.setting-btn:hover { background-color: var(--color-link-active); }
.setting-btn:active { background-color: var(--color-link-visited); }

.setting-btn svg {
    width: 1rem;
    height: 1rem;
    fill: var(--color-background-color);
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
}
.page-header h1 a {
    color: inherit;
    text-decoration: none;
}

.list-page .page-header h1 {
    font-size: 1.5rem;
}

.list-page .page-header h1 a {
    text-decoration: underline;
}

.list-page .page + .page {
    margin-top: 5rem;
}

footer.page-footer {
    font-size: 0.8rem;
}

footer.page-footer .published-on,
footer.page-footer .updated-on {
    opacity: 0.7;
}

.content ul ul,
.list-aside ul ul {
    padding-left: 1.5rem;
}

.neighbor-links, .tag-nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 0.9rem;
    max-width: 52rem;
    gap: 1rem;
}
.neighbor-links a,
.tag-nav a {
    display: block;
    text-decoration: none;
    padding: 2rem;
    background: var(--color-border);
    flex: 1;
}
.neighbor-links a span {
    font-weight: bold;
    display: block;
}
.neighbor-links a + a,
.tag-nav a + a {
    text-align: right;
}

.post-title-list time {
    font-variant-numeric: tabular-nums;
}

.pagination .status {
    text-align: left;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 3rem 0 1rem;
}

.list-aside {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

hr {
    color: var(--color-border);
    border: 0;
    border-top: 5px solid;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.page .content > .columns {
    max-width: 1720px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.page .content > .columns > * {
    flex: 1;
}

::backdrop {
  background-color: #000;
  opacity: 0.75;
}

#website-setting {
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#website-setting h1 {
    margin: 0;
    font-size: 1rem;
    padding-left: 0.75rem;
}

#website-setting .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
}

#website-setting .header button {
    appearance: none;
    background: transparent;
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    
}

#website-setting p {
    padding: 0 1rem;
}

#website-setting .options {
    padding: 0 1rem 2rem;
}

#website-setting p.darkreader-warning {
    font-size: 0.8rem;
}

#website-setting .options label {
    display: block;
    padding: 0.5rem 0;
    position: relative;
}

#website-setting .color-select:before {
    content: 'ABC';
    white-space: pre-wrap;
    display: block;
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 2px 10px;
    border: 1px solid;
    text-align: left;
    position: absolute;
    right: 0;
}

#website-setting .color-select-day:before {
    background-color: var(--color-day-background-color);
    color: var(--color-day-text);
}

#website-setting .color-select-night:before {
    background-color: var(--color-night-background-color);
    color: var(--color-night-text);
}

#website-setting .color-select-sepia:before {
    background-color: var(--color-sepia-background-color);
    color: var(--color-sepia-text);
}

#website-setting .color-select-dark:before {
    background-color: var(--color-dark-background-color);
    color: var(--color-dark-text);
}

#website-setting .color-select-tumblr:before {
    background-color: var(--color-tumblr-background-color);
    color: var(--color-tumblr-text);
}

html .hljs {
    background: var(--color-code-background-color);
}

.font-size-extra-large {
    font-size: 3rem;
}
.font-size-large {
    font-size: 2rem;
}
.font-size-medium {
    font-size: 1rem;
}
.font-size-small {
    font-size: 0.9rem;
}
.font-size-extra-small {
    font-size: 0.7rem;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.darkreader-warning {
    display: none;
}

[data-darkreader-scheme="dark"] .darkreader-warning {
    display: block;
    margin-bottom: 0;
}

details {
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

details[open] {
    padding: 0.5em;
}

.post-title-list {
    padding: 0;
    list-style: none;
}

.post-title-list time {
    margin-right: 1rem;
    color: var(--color-gray);
}

.post-title-list a {
    text-decoration: none;
}

.random-btn, .details-toggle-btn, .fold-btn {
    appearance: none;
    border: 3px solid var(--color-text);
    background: transparent;
    color: var(--color-text);
    padding: 0.4rem 0.75rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.content iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 3 / 2;
}
