${template('meta.html', data)}

${data.frontmatter.ext ? data.frontmatter.ext?.map(extName => template(`_ext/${extName}.html`, data)).join("\n") : ``}

${template('style.html', data)}
<link crossorigin="anonymous" media="all" rel="stylesheet" href="/style.css" />
<link crossorigin="anonymous" media="all" rel="stylesheet" href="/highlight.css" />
<script src="/script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>window.addEventListener('load', () => hljs.highlightAll());</script>
