${template('meta.html', data)}

${data.frontmatter.ext ? data.frontmatter.ext?.map(extName => template(`_ext/${extName}.html`, data)).join("\n") : ``}

${template('style.html', data)}
<link crossorigin="anonymous" media="all" rel="stylesheet" href="/style.css?e7adfe19d466f105c9c56dc0001bd01ebe40e1a6ab25a5aef46d7f17bcf9e58a" />
<link crossorigin="anonymous" media="all" rel="stylesheet" href="/highlight.css" />
<script src="/script.js?e7adfe19d466f105c9c56dc0001bd01ebe40e1a6ab25a5aef4697f17bcf9e58a"></script>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>window.addEventListener('load', () => hljs.highlightAll());</script>
