<style>
html {
    font: 16px/1.5 Lato,-apple-system,Helvetica Neue,Arial,Helvetica,Noto Sans
        KR,Noto Sans CJK KR,Apple SD Gothic Neo,Barun Gothic,Nanum Barun
        Gothic,Malgun Gothic,맑은 고딕,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    word-wrap: break-word;
    font-kerning: normal;
    margin: 3rem auto;
    max-width: 47.5rem;
}

.setting-btn {
    display: none;
}

.site-header, .site-footer {
    display: none;
}
</style>
