<dialog id="website-setting">
    <div class="header">
        <h1>${data.title}</h1>
        <button class="close-btn" autofocus>✕</button>
    </div>

    <p>${data.color}</p>
    <div class="options">
        <label class="color-select color-select-day">
            <input type="radio" name="color" value="day" />
            Day
        </label>
        <label class="color-select color-select-dark">
            <input type="radio" name="color" value="dark" />
            Dark
        </label>
        <label class="color-select color-select-night">
            <input type="radio" name="color" value="night" />
            Night
        </label>
        <label class="color-select color-select-sepia">
            <input type="radio" name="color" value="sepia" />
            Sepia
        </label>
    </div>
</dialog>

