${template('header-nav.html', {nav: `
    <span class="site-title"><a href="/ko/vim">vim 이야기</a></span>
    <nav>
        <a href="/ko/vim/guide/">길잡이</a>
        <a href="/ko/vim/move/">이동하기</a>
        <a href="/ko/vim/config/">설정하기</a>
    </nav>
`})}

<div class="subnav">
    <div class="site-container">
        <div class="subnav-title"><a href="#subnav">Lorem ipsum dolor sit amet, consectetur</a></div>
        <ul id="subnav">
            <li><a href="#">Integer malesuada vel purus</a></li>
            <li>
                <a href="#">Praesent pretium urna in tortor accumsan</a>
                <ul>
                    <li><a href="#">Some of the title here</a></li>
                    <li><a href="#">Some of the title here</a></li>
                    <li><a href="#">Some of the title here</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Praesent pretium urna in tortor accumsan</a>
                <ul>
                    <li><a href="#">Some of the title here</a>
                        <ul>
                            <li><a href="#">Some of the title here</a></li>
                            <li><a href="#">Some of the title here</a></li>
                            <li><a href="#">Some of the title here</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Some of the title here</a></li>
                </ul>
            </li>
            <li><a href="#">Duis id nisl cursus</a></li>
        </ul>
    </div>
</div>

