* {
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

:root {
  --site-color-background: #f7f7f7;
  --site-color-backgroundAlt: #f0f0f3;
  --site-color-primary: #4445c9;
  --site-color-link: #ec0b43;
  --site-color-highlight: #fdca40;
  --site-color-text: #011627;
  --site-color-body: #080708;
  --site-color-subtext: #777777;
  --site-color-shade: #eae6ea;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --site-color-background: #202020;
    --site-color-backgroundAlt: #262626;
    --site-color-primary: #07df8f;
    --site-color-link: #fdca40;
    --site-color-highlight: #14005e;
    --site-color-text: #eeeeee;
    --site-color-body: #eeeee0;
    --site-color-subtext: #777777;
    --site-color-shade: #000000;
  }
}

[data-theme="light"] {
  --site-color-background: #f7f7f7;
  --site-color-backgroundAlt: #f0f0f3;
  --site-color-primary: #4445c9;
  --site-color-link: #ec0b43;
  --site-color-highlight: #fdca40;
  --site-color-text: #011627;
  --site-color-body: #080708;
  --site-color-subtext: #777777;
  --site-color-shade: #eae6ea;  
}

[data-theme="dark"] {
  --site-color-background: #202020;
  --site-color-backgroundAlt: #262626;
  --site-color-primary: #07df8f;
  --site-color-link: #fdca40;
  --site-color-highlight: #14005e;
  --site-color-text: #eeeeee;
  --site-color-body: #eeeee0;
  --site-color-subtext: #777777;
  --site-color-shade: #000000;  
}

html, body {
  font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", MalgunGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--site-color-background);
  color: var(--site-color-text);
  margin: 0;
}

button, input {
  font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Apple Gothic", "HY Gulim", MalgunGothic, "HY Dotum", "Lexi Gulim", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
