@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap");

* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f7ff;
  margin: 0;
}

html { font-size: 2vw; }
@media all and (min-width:1250px) { html { font-size: 25px; } }
@media all and (max-width:900px) { html{ font-size: 18px; } }
