@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900');

html, body {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  word-break: keep-all;
}
