@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900');

html, body {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  word-break: keep-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


.translation-note {
  background: #f4f3ff;
  border-left: 10px solid #6700ee;
  margin: 0;
  padding: 1px 20px;
}

.translation-note p:nth-of-type(1):before {
  content: '📝';
}

.translation-note p + p {
  margin-top: 0;
}
